<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css " rel="stylesheet" />
    <link rel="stylesheet" href="/css/register.css">
    <title>Register</title>
</head>
<body>
    <header>
        <div class="header-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo" alt="logotipo">
            <div class="search"><input type="search" name="" id="searchs"> <i class="fas fa-search"></i></div>
            <h2 class="title-header"> <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de credito</h2>
        </div>

        <nav>
            <ul>
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas Oficiales</a> </li>
                <li> <a href="#"">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>
            <ul>
                <li> <a href="/register"> Crea tu cuenta <i class="far fa-address-card"></i></a> </li>
                <li> <a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a> </li>
                <li> <a href="#">Mis compras <i class="fas fa-shopping-basket"></i> </a> </li>
            </ul>
        </nav>

        <a href="#" class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
        </a>
        <img src="/images/img-home-banner.jpg" alt="barras" width="100%">
    </header>

    
    
        <form action="" method="post" class="formato">

            <div class="formulario">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido">
            </div>
    
            <div class="formulario">
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
            </div>
    
            <div class="formulario">
                <input type="email" name="correo" id="correo" placeholder="E-mail">
            </div>
    
            <div class="formulario">
                <label for="nacimento">Fecha de nacimiento</label>
                <input type="date" name="nacimiento" id="">
            </div>
    
            <div class="formulario">
                <input type="text" name="domicilio" id="domicilio" value="Domicilio">
            </div>
    
            <div class="formulario">
                <label for="perfil">Perfil de usuario</label>
                <input type="radio" name="perfil" class="radioButton" value="Comprador">Comprador
                <input type="radio" name="perfil" class="radioButton" value="Vendedor">Vendedor
            
            </div>
    
            <div class="formulario">
                <label for="interes">Intereses</label>
                <input type="checkbox" name="interes" class="checkButton" value="electro">Electro
                <input type="checkbox" name="interes" class="checkButton" value="moda">Moda
                <input type="checkbox" name="interes" class="checkButton" value="electroHogar">ElectroHogar
                <input type="checkbox" name="interes" class="checkButton" value="electroJuguetería">ElectroJuguetería
                <input type="checkbox" name="interes" class="checkButton" value="electroVida">ElectroVida sana
            </div>
    
            <div class="formulario">
                <label for="foto">Foto de usuario</label>
                <input type="file" name="foto" id="">
            </div>
    
            <div class="formulario">
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" class="contraseña">
            </div>
    
            <div class="formulario">
                <label for="contraseña2">Confirmar contraseña</label>
                <input type="password" name="contraseña2" class="contraseña">
            </div>
            <div class="botones">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </div>
            
        
        
        
        </form>

    
    
</body>
</html>